<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="padding-left: 30px; text-align: center;"><span style="text-decoration: underline; color: #ff6600;"><em><strong>test</strong></em></span></h1>
<p>&nbsp;</p>
<ul>
<li>
<p><span style="text-decoration: underline;"><em><strong>one</strong></em></span></p>
</li>
<li>
<p><span style="text-decoration: underline; color: #00ffff;"><em><strong>two</strong></em></span></p>
</li>
<li>
<p><span style="text-decoration: underline; color: #993366;"><em><strong>three</strong></em></span></p>
</li>
</ul>
<p style="text-align: center;"><span style="text-align: center; color: #00ff00;">&nbsp;;oivHsaoubv'aPvjhds{Oubds;vndv'psdhzb;v LDV/L</span></p>
<p style="text-align: center;"><span style="text-align: center; color: #ff0000;">&nbsp;;oivHsaoubv'aPvjhds{Oubds;vndv'psdhzb;v LDV/L</span></p>
<p>&nbsp;</p>
<table style="height: 54px;" width="551">
<tbody>
<tr>
<td style="width: 268.7px;"><em><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></strong></em></td>
<td style="width: 268.7px;"><em><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" /></strong></em></td>
</tr>
<tr>
<td style="width: 268.7px;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-money-mouth.gif" alt="money-mouth" /></td>
<td style="width: 268.7px;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-wink.gif" alt="wink" /></td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><span style="text-align: center; color: #0000ff;">&nbsp;DGEGES</span></p>
</body>
</html>